.photo-grid {
  margin: 92px auto 0 auto;
  max-width: 1184px;
  padding-left: 2%;
  padding-right: 2%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 16px;
  grid-auto-flow: row;
}


@media all and (max-width: 1023px) {
  .photo-grid {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media all and (max-width: 767px) {
  .photo-grid {
    padding-left: 16px;
    padding-right: 16px;
  }
}
