.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  padding-top: 28px;
  padding-left: 48px;
  padding-right: 48px;
}

.header__lang-links {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  list-style-type: none;


}

.header__lang-link {
  margin: 0;
  margin-left: 10px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
}

.header__lang-link_selected {
  text-decoration-line: underline;
}

.header__logo{
  width: 176px;
  height: 52px;
}
