.place__paragraph {
  margin: 0;
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  margin-bottom: 24px;
}
.place__paragraph:last-child{
  margin-bottom: 0;
}

@media all and (max-width: 688px) {
  .place__paragraph {
    padding-left: 16px;
    padding-right: 16px;
  }
}
