.intro {
  max-width: 984px;
  margin: 92px auto 0 auto;
}

.intro__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
  margin: 0 0 40px 0;
}

.intro__text {
  margin: 0 0 32px 0;
  max-width: 690px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
}

.intro__list {
  padding:0;
  margin: 0;
  list-style: none;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.5;
}

.intro__list-span {

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.5;
}
