.lead__subtitle {
  margin: auto;
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 1.2;
  max-width: 640px;
  text-align: center;
  margin-top: 48px;
}

@media all and (max-width: 767px) {
  .lead__subtitle {
    font-size: 16px;
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
  }
}
