.cover {
  position: relative;
  max-width: 1184px;
  height: 740px;
  margin: auto;
  padding:0 48px 0 48px;
}

.cover__overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  color: white;
  text-decoration: none;
  background: #2a2c2f 0.3;
}

.cover__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-image: url("../../images/cover-trains.jpg");
}

.cover__title {
  z-index: 1;

  margin: 0 0 32px 0;
  max-width: 560px;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  /* opacity: 100%; */
}

.cover__subtitle {
  z-index: 1;
  margin: 0;
  max-width: 360px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
}

.cover__overlay::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #2A2C2F;
  ;
  opacity: 0.3;
  transition: opacity 0.25s;
}

.cover__overlay:hover::after {
  opacity: 0.8;
}
