.lead__caption {
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  margin-left: 24px;
}
@media all and (max-width: 767px) {


  .lead__caption{
    padding-left: 16px;
  }
 }
