.footer {
  margin: 92px 48px 24px 48px;
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
  box-sizing: border-box;
}

@media all and (max-width: 767px) {

  .footer {
    flex-direction: column;
    margin: 64px 16px 24px 16px;
    align-items: flex-start;
  }
}
